<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314591708858-crqmg5t8gtf3h9p6r16hlor8diiuk10l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314591708858-crqmg5t8gtf3h9p6r16hlor8diiuk10l</string>
	<key>API_KEY</key>
	<string>AIzaSyAZCTour77EOCmFU-dfnd5nYADoQmNOXsw</string>
	<key>GCM_SENDER_ID</key>
	<string>314591708858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjlearmonth.Bon-Voyage</string>
	<key>PROJECT_ID</key>
	<string>bon-voyage-9ac80</string>
	<key>STORAGE_BUCKET</key>
	<string>bon-voyage-9ac80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314591708858:ios:bd882bf51ad6b9f7cce483</string>
	<key>DATABASE_URL</key>
	<string>https://bon-voyage-9ac80.firebaseio.com</string>
</dict>
</plist>